.icon-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #ff0000;
    outline: none;
    transition: color 0.2s ease;
}

.icon-button:hover {
    color: #e00000;
}

.icon-button:active {
    transform: scale(0.95); 
}

.comments h3 {
    color:#e00000
}