{% if profile.user == request.user %}
    <a href="{%url 'users:profile_edit'%}"><button type="submit">Edit</button></a>
{% endif %}
<p>{{profile.total_followers}} Followers</p>
{%if request.user != profile.user and request.user.is_authenticated%}
    <form method="post" action="{% url 'users:follow' profile.user.username %}">
        {% csrf_token %}
        {% if request.user in profile.followers.all %}
            <button class="btn btn-danger">Unfollow</button>
        {% else %}
            <button class="btn btn-primary">Follow</button>
        {% endif %}
    </form>
{%endif%}
<h2>{{ profile.user.username }}</h2>
{% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" width="120">
{% endif %}
<p>{{ profile.bio }}</p>
<h1>User articles</h1>
{% for article in articles %}
    <div class="alert alert-warning">
        <h3>{{article.title}}</h3>
        <a href="{%url 'arts:detail' article.id%}" class="btn btn-warning">More...</a>
    </div>
{% empty %}
    <p>There are no articles</p>
{% endfor %}
