body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: white;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #2c2c2c;
    border-right: 5px solid black;
}


aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul {
    list-style: none;
    text-decoration: none;
}

aside ul li{
    color:black;
    display: block;
    margin-top: 20px;
    transition: transform .5s ease;
}

aside ul a{
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover{
    color:#b8b8b8;
    transform: scale(1.05);
}
main .features {
    color: aliceblue;
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-warning {
    float:left;
    clear:both;
    width: 400px;
    margin:20px 36%;
    text-align: left;
    background: white;
    border-color:black;
    color: black;
}

.btn-info {
    background-color: #b8b8b8;
    border-color:#b8b8b8; 
}

.btn-info:hover{
    background-color:#b8b8b8;
    border-color:#b8b8b8; 
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.navbar-nav .ms-auto {
    list-style: none;
    text-decoration: none;
}