body {
    background: #2c2c2c;
}

.wrapper {
    display: flex;        
    align-items: flex-start; 
}

aside {
    background: white;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #2c2c2c;
    border-right: 5px solid black;
    position:sticky;
    top: 0;        
    flex-shrink: 0;
    min-width: 250px;
    box-sizing: border-box;
}

aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul {
    list-style: none;
    text-decoration: none;
}

aside ul li{
    color:black;
    display: block;
    margin-top: 20px;
    transition: transform .5s ease;
}

a{
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover{
    color:#b8b8b8;
    transform: scale(1.05);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

main .features {
    color: aliceblue;
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

main .mb-3{
    margin: 50px auto;
    width: 90%;
    max-width: 450px;
}

.alert-warning {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    text-align: left;
    background: white;
    border-color: black;
    color: black;
    overflow: hidden;
}

.alert-warning h3,.alert-warning p {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-info {
    background-color: #b8b8b8;
    border-color:#b8b8b8; 
}

.btn-info:hover{
    background-color:#b8b8b8;
    border-color:#b8b8b8; 
}

main .create-form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.navbar-nav .ms-auto {
    list-style: none;
    text-decoration: none;
}